[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Łukasz Haze (lhaze)
[access "refs/for/refs/*"]
	read = group user/Łukasz Haze (lhaze)
	push = group user/Łukasz Haze (lhaze)
	label-Code-Review = -2..+2 group user/Łukasz Haze (lhaze)
	label-Verified = -1..+1 group user/Łukasz Haze (lhaze)
	rebase = group user/Łukasz Haze (lhaze)
	removeReviewer = group user/Łukasz Haze (lhaze)
	submit = group user/Łukasz Haze (lhaze)
[access "refs/heads/*"]
	read = group user/Łukasz Haze (lhaze)
	create = group user/Łukasz Haze (lhaze)
	push = +force group user/Łukasz Haze (lhaze)
	pushMerge = group user/Łukasz Haze (lhaze)
[access "refs/tags/*"]
	push = +force group user/Łukasz Haze (lhaze)
	pushTag = group user/Łukasz Haze (lhaze)
	pushSignedTag = group user/Łukasz Haze (lhaze)
