name: code-quality

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run linters
        run: docker-compose run lint

  test:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        python-version:
          - 'py36'
          - 'py37'
          - 'py38'
          - 'py39'
          - 'pypy3'
        # include:
          # TODO #81 CI pipline for other OSes
          # - os: windows-latest
          #   python-version: 38
          # - os: macos-latest
          #   python-version: 38
    steps:

    - uses: actions/checkout@v2

    - name: Run compose to build & run tests against ${{ matrix.python-version }} container
      run: docker-compose run test_${{ matrix.python-version }}

    - name: Upload coverage
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        fail_ci_if_error: true
